#card{
  padding: 10px 15px;
  background-color: var(--backgroundclr2);
  border-radius: 13px;
  width: 325px;
  margin: 15px;
  transition: 0.2s;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#card:hover{
  transform: scale(1.1);
  box-shadow:
    0 0 13px #794301,
    0 0 18px var(--highlightclr);
}

#projectLink{
  text-decoration: none;
}

#projectTitle{
  font-size: 38px;
}

#projectDesc, #promptDesc, #projectRating{
  margin: 10px 0;
}